{% extends 'base.html' %} {% block content %}
<style>
    .card-container {
        justify-content: center;
        padding: 20px;
        flex-wrap: wrap;
    }
    .card {
        margin-left: 300px;
        margin-right: 300px;
    }
    .btn-danger {
        width: 100px;
    }
    .btn-primary {
        width: 100px;
    }
    .inner-card {
        margin-left: 300px;
        margin-right: 300px;
        padding: 20px;
    }
    .form-container {
        margin-right: 100px;
        margin-left: 100px;
    }
</style>
<div class="card">
    <div class="card-container">
        <h3>Are you sure you want to delete this item?</h3>
        <div>
            <a
                class="btn btn-danger btn-raised"
                href="javascript:{document.getElementById('delete{{wanted_item.id}}').submit()}"
                >Yes</a
            >
            <a class="btn btn-secondary btn-raised" href="{% url 'dashboard'%}"
                >No, take me back</a
            >
        </div>
        <form
            id="delete{{wanted_item.id}}"
            method="POST"
            action="{% url 'wanted_item_delete' relief_center_id wanted_item.id%}"
        >
            {% csrf_token %} <input type="hidden" />
        </form>
    </div>
</div>

{% endblock %}
