{% extends 'base.html' %} {% block content %}

<a
    class="nav-item nav-link"
    href="javascript:{document.getElementById('logout').submit()}"
>
    Logout
</a>
<form id="logout" method="POST" action="{% url 'logout' %}">
    {% csrf_token %} <input type="hidden" />
</form>

<br />
<a href={% url 'create' %}>Create a new relief center</a>


<h3>Your relief centers</h3>

{% for relief_center in relief_centers.all %}
<h4>Relief Center in {{relief_center.location}}</h4>
<a href="{%url 'update' relief_center.id %}">Update </a>
<a href="{%url 'view' relief_center.id %}">View</a>
<a href="{% url 'delete' relief_center.id%}">Delete</a>
<a href="{% url 'wanted_item_create' relief_center.id%}">Manage Wanted Items</a>


{% endfor %}

{% endblock %}
