{% extends 'base.html' %} {% block content %}

<h1>Signup</h1>
<br />
<br />
{% if error %}
<h3>{{ error }}</h3>
{% endif %} <br />
<br />
<form method="POST" action="{% url 'signup'%}">
    {% csrf_token %} Username: <br />
    <input type="text" name="username" />

    <br />
    Password: <br />
    <input type="password" name="password1" /> <br />

    Confirm Password: <br />
    <input type="password" name="password2" /> <br />
    <br />
    <button type="submit">Submit</button>
</form>

{% endblock %}
