{% extends 'base.html'%} {% block content %}
<style>
    .card-container {
        justify-content: center;
        padding: 20px;
        flex-wrap: wrap;
    }
    .btn-danger {
        width: 100px;
    }
    .btn-primary {
        width: 100px;
    }
    .inner-card {
        margin-left: 300px;
        margin-right: 300px;
        padding: 20px;
    }
    .form-container {
        margin-right: 100px;
        margin-left: 100px;
    }
</style>
<div class="card">
    <div class="card-container">
        <div style="float:right;">
            <form id="logout" method="POST" action="{% url 'logout' %}">
                <button
                    class="btn btn-raised btn-danger"
                    href="javascript:{document.getElementById('logout').submit()}"
                >
                    Log out</button
                ><br />
                {% csrf_token %}
            </form>
        </div>
        <div>
            <h3>Create Relief Centers</h3>
            <hr />
        </div>
        <div>
            <a class="btn" href="{%url 'dashboard'%}">Return to dashboard</a>
        </div>
        <div class="card inner-card">
            <div>
                <h3><center>Create</center></h3>
                <hr />
            </div>
            <div class="form-container">
                <form method="POST" action="{% url 'update' relief_center.id%}">
                    <label class="bmd-label-floating">
                        {% csrf_token %} Location of Relief Camp:
                    </label>

                    <input
                        type="textbody"
                        name="location"
                        class="form-control"
                        value="{{relief_center.location}}"
                    />

                    <br />
                    <label class="bmd-label-floating">Contact Number:</label>
                    <input
                        type="text"
                        name="contact"
                        class="form-control"
                        value="{{relief_center.contact}}"
                    />
                    <br />
                    <label class="bmd-label-floating"
                        >Type of Disaster Occured:</label
                    >
                    <input
                        type="text"
                        name="disaster"
                        class="form-control"
                        value="{{relief_center.type_of_disaster}}"
                    />
                    <br />
                    <label class="bmd-label-floating"
                        >Donations Received:</label
                    >
                    <input
                        type="number"
                        name="donation"
                        class="form-control"
                        value="{{relief_center.donation_received}}"
                    />
                    <br />

                    <button class="btn btn-secondary btn-raised" type="submit">
                        Update relief center
                    </button>
                </form>
                <div>
                    {% if error %}
                    <span class="badge badge-pill badge-warning">{{
                        error
                    }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
